html, body {
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-image: url('photos/background-image.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(98, 108, 98, 0.8);
    padding: 10px 20px;
  }
  
  #logo {
    font-size: 24px;
    font-style: italic;
  }
  
  #nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
  }
  
  #nav-links a {
    color: #F0F0D7;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  #nav-links a:hover {
    text-decoration: underline;
  }
  
  #search-container {
    display: flex;
    align-items: center;
    background: #D0DDD0;
    padding: 5px;
    border-radius: 30px;
  }
  
  #search-box {
    padding: 10px;
    border-radius: 30px;
    font-size: 14px;
    width: 200px;
    background: #D0DDD0;
  }
  
  #search-button, #reset-button {
    background-color: #AAB99A;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  #search-button:hover, #reset-button:hover {
    background-color: #8FA69D;
  }
  
  #home-intro {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #home-intro h1 {
    font-size: 50px;
  }
  
  #home-intro h1 span {
    display: block;
  }
  
  #home-intro p {
    font-size: 24px;
  }
  
  #social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
    padding: 10px;
    z-index: 10;
  }
  
  #social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
  }
  
  #social-icons a img:hover {
    transform: scale(1.1);
  }
  